html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    line-height:22px;
    background-image: url("pay.jpg");
    background-size: 180%;
}


h1,h2{font-family:oswald;text-transform:uppercase;font-weight:normal;font-weight: bold;}

a:hover{color:#333;}

#g{
    border: 0px #1456a0;
}


#numeri{
    background-color: #e6ab4a;
    border: none;
    margin: 0 auto;
    margin-top: 4%;
}

#vistaInseriti{
    margin-left: 16.5%;
    margin-top: 4%;
    float: left;
}
#vistaEstratti{
    margin-top: 4%;
    margin-left: 5%;
    float: left;
}


#vista{
    margin-left: 4%;
    background: none;
}

#vista td{
    border: none;
}


main td, th {
    border: 1px solid #e3dfe2;
    border-collapse: collapse;
    padding: 3px 5px;
}

main td  {
    text-align: center
}


tr.odd td, tr.odd th{
    background-color: #e6ab4a;
    text-decoration-color: black;
}

.c {
    border: none;
    width: 27px;
    height: 27px;
    background-color: #e6ab4a;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 13px Arial, sans-serif;
    font-weight: bolder;
}

.d, .f {
    width: 30px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #e6ab4a;
    color: black;
    font-weight: bolder;
    align-content: center;
}


.b {
    width: 27px;
    height: 27px;
    background-color: #e6ab4a;
    border: none;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 13px Arial, sans-serif;
    border-radius: 20%;
    font-weight: bolder;
}







.button-table{
    background-color: transparent;
    margin-left: 13.5%;
    margin-top: 10%;
}

.btns{
    border: none;
    background-color: transparent;
}

.select-gold{
    background-color: #e6ab4a;
    width: 285px;
    height: 285px;
    color: black;
    margin-left: 6%;
    margin-top: 15%;
}

.select-tr{
    text-align:left ;
}

.td-select{
    background-color: #e6ab4a;
}

.td-main{
    border: none;
}

#puntata, #nmax{
    width: 38px;
    height: 20px;
}

#nmax{
    margin-left: 10%;
}

.estratti , .inseriti{
    border: none;
}

#invia{
    width: 105px;
    height: 37px;
    background-image: url("Estrai.png");
    background-position: center;
}

#controlla{
    width: 78px;
    height: 30px;
    background-image: url("Check.png");
    background-position: center;
}

#reset{
    width: 105px;
    height: 37px;
    background-image: url("Reset.png");
    background-position: center;
}

#rigioca{
    width: 118px;
    height: 45px;
    background-image: url("ResetPlay2.png");
    background-position: center;
}

#faccinaPiang{
    background-color: transparent;
    width: 357px;
    height: 220px;
}


#faccinaRid{
    background-color: transparent;
    width: 357px;
    height: 220px;
}

#ris-th{
    border: none;
    background-color: transparent;
}



#menu{
    float: left;
    width: 25%;
    margin-left: 8%;

}

#main-container{
    border-left: 1px solid black;
    float: right;
    width: 59%;
    height: 1000px;
    //border-radius: 8%;
}

#global{
    margin: 0 auto;
    margin-top: 4%;
    width: 95%;
    overflow: hidden;
    background-color: rgba(227,223,226,0.91);
    border-radius: 10%;
}

#logo{
    margin-left: 22%;
    margin-top: 10%;
}

#vistaCheck{
    margin-top: 5%;
    float: left;
    margin-left: 43%;
}

#check{
    background-image: url("Check.png");
    background-repeat: no-repeat;
    width:150px;
    height: 58px;
    background-position: center;
}

#gold{
    margin-left: 12%;
}

testo{
    margin-left: -10%;
}